server {
  listen 80;
  server_name github.{{zone}};

  location / {
    access_by_lua_block {
      function reject ()
        ngx.exit(403)
      end

      function ends_with (s, e)
        return s:sub(-#e) == e
      end

      local method = ngx.var.request_method

      if method ~= "GET" and
         method ~= "POST" then
         reject()
      end

      local uri = ngx.var.uri

      if (not ends_with(uri, ".git/git-upload-pack")) and
         (not ends_with(uri, ".git/info/refs")) then
         reject()
      end

      ngx.req.read_body()
      local body = ngx.req.get_body_data()
      local want_commit = string.match(body or "", "%x%x%x%xwant %x+")

      if not want_commit and method ~= "GET" then reject() end
    }

    proxy_pass {{ "http://localhost:8888" if test else "https://github.com" }};
  }
}
