server {
  listen 8888;

  # This is where the repositories live on the server
  root /srv/git;


  location ~ (/.*) {
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/.gitpasswd;

    fastcgi_pass  unix:/var/run/fcgiwrap.socket;
    include       fastcgi_params;

    fastcgi_param SCRIPT_FILENAME     /usr/lib/git-core/git-http-backend;
    fastcgi_param GIT_HTTP_EXPORT_ALL "";
    fastcgi_param GIT_PROJECT_ROOT    /srv/git;
    fastcgi_param PATH_INFO           $1;
    fastcgi_param REMOTE_USER	      $remote_user
  }
}