---
- name: install nginx
  become: true
  apt:
    name:
      - nginx-extras # for proxying
      - git # for testing

- name: remove default site configuration
  become: true
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: hide server tokens
  become: true
  lineinfile:
    insertafter: "http {"
    line: "server_tokens off;"
    path: /etc/nginx/nginx.conf

- include_tasks: cran.yml
- include_tasks: bioconductor.yml
- include_tasks: conda.yml
