---

name: Test roles
'on':
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'requirements*.txt'

      - name: Install requirements
        run: pip3 install -r requirements-dev.txt

      - name: Run yamllint
        run: |
          yamllint .

      - name: Run ansible-lint
        run: |
          ansible-lint .

  molecule:
    name: Run Molecule
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        role:
          - clamav
          - squid
          - godb
          - reverse_proxy

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'requirements*.txt'

      - name: Install ansible and molecule
        run: pip3 install -r requirements-dev.txt

      - name: Install ansible-galaxy dependencies
        run: ansible-galaxy collection install community.mongodb:1.3.0 --force

      - name: Run molectule tests
        run: |
          pushd ${{ matrix.role }}
          molecule test
          popd
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
